<!DOCTYPE HTML5>
<html>

  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
    {% raw %}
          <div id="app">
    <el-row type="flex" class="row-bg" justify="center">
      <el-col :span="8"><div class="grid-content bg-purple">
            <div class="block">
              <el-pagination
                 small
                 @size-change="sizeChange"
                 @current-change="currentChange"
                 :current-page="currentPage"
                 :page-sizes="[10, 20, 50, 100]"
                 :page-size="pageSize"
                 layout="total, sizes, prev, pager, next, jumper"
                 :total="totalNum">
              </el-pagination>
            </div>
            <el-table
               :data="tableData"
               @sort-change="sort_data"
               :default-sort="{prop:'closed', order: 'descending'}"
               style="width:100%">
              <el-table-column
               label="user"
               width="200">
                <template slot-scope="scope">
                  <el-row type="flex" class="row-bg">
                    <el-col :span="6"><div class="grid-content bg-purple">
                      <div v-html="scope.row.icon"></div>
                    </div></el-col>
                    <el-col :span="18"><div class="grid-content bg-purple">
                      <div>{{scope.row.uname}}</div>
                    </div></el-col>
                  </el-row>
                </template>
              </el-table-column>
              <el-table-column
               prop="closed"
               label="contribute"
               sortable
               :sort-orders=  "['ascending', 'descending']"
               width="180">
              </el-table-column>
            </el-table>
        </div></el-col>
    </el-row>
          </div>
  {% endraw %}
</body>

<script>
/* rank_data = [
  {
    'open':<int>,
    'open_draft':<int>,
    'closed':<int>,
    'closed_draft':<int>,
    'uid':<int>,
    'uname':<str>,

  },
]
*/
var rank_data = {{rank_data|tojson}};
tableDataAll = []
rank_data.forEach((v,i) => {
  v.icon = "<img src='https://avatars2.githubusercontent.com/u/" + v.uid + "?s=40' style='width:40px;height:40px;' alt='" + v.uname + "' />";
  console.log(v.icon);
  if (v.closed > 0)
    tableDataAll.push(v);
});
tableDataAll.sort((a,b)=>{
  return b.closed - a.closed;
});
</script>
<script src="{{url_for('static', filename='rank.js')}}"> </script>


</html>
